h1 {
    text-align: center;
    font-size:30px;
    color: rgb(23, 122, 122);
    font-family:'Playfair Display', serif;
}

h2 {
    text-align: left;
    font-size: 23px;
    font-family:'Playfair Display', serif;
    color: rgb(49, 177, 177);
}

h3 {
    text-align: left;
    font-size: 20px;
    font-family:'Playfair Display', serif;
    color: rgb(164, 95, 21);
}

h4 {
    text-align: left;
    font-size: 18px;
    font-family:'Playfair Display', serif;
    color: rgb(154, 79, 26);
}

body {
    background-color: bisque;
}

img {
    width: 500px;
    padding: 15px;
}

